* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.authentication {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(76,92,173,1) 0%, rgba(29,38,21,1) 100%);
}

.sign-up {
  /* border: 1px solid red; */
  border: none;
  padding: 20px;
  background: rgb(76,92,173);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


.sign-up > h2 {
  font-size: 30px;
  color: rgb(27, 41, 113);
  margin: 0 0 15px;
}

.username {
  font-size: 19px;
  margin: 0 0 15px;
  display: flex;
  flex-direction: column;
}

.username-label {
  color: rgb(27, 41, 113);
  margin: 0 0 7px;
}

.input-box{
  border: none;
  padding: 14px 20px;
  width: 300px;
  border-radius: 7px;
}

.input-box::placeholder {
  font-size: 16px;
}

.password {
  font-size: 19px;
  margin: 0 0 15px;
  display: flex;
  flex-direction: column;
}

.password-label {
  color: rgb(27, 41, 113);
  margin: 0 0 7px;
}

.sign-up-btn {
  border: none;
  padding: 15px 40px;
  width: 340px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  color: white;
  background-color: rgb(27, 41, 113);
  cursor: pointer;
  margin: 10px 0;
}

.redirect-link {
  color: rgb(14, 25, 82);
  font-size: 17px;
  font-weight: 500;
}

.redirect-link > span > a{
  text-decoration: none;
  color: rgb(136, 226, 47);
  font-size: 18px;
}