* {
    background-color: rgb(9, 9, 11);
    font-family: 'Geist Sans', sans-serif;
    color: rgb(250, 250, 250);
    margin: 0;
    
}

/* geist-sans-latin-400-normal */
@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff) format('woff');
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom-color: rgb(39, 39, 42);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 56px;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
    text-size-adjust: 100%;
}

.left-nav {
    display: flex;
    margin-right: 16px;
}

.left-nav > svg {
    /* width:  111.539px; */
    height: 24px;
}

.nav-anchors {
    display: flex;
    align-items: center;
}

.nav-anchors > a:first-child{
    margin-left: 24px;
}

.left-nav > p {
    margin-left: 7px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: rgb(241, 241, 241);
}

.nav-anchors > a {
    text-decoration: none;
    margin-right: 24px;
    font-size: 14px;
    line-height: 20px;
    font-synthesis-weight: none;
    color: hsl(0deg 0% 98% / 80%);
    text-rendering: optimizeLegibility;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-nav > .search_input {
    border: 1px solid rgb(39, 39, 42);
    padding: 8px 48px 8px 16px;
    border-radius: 10px;
    width: 190px;
    background-color: rgba(39, 39, 42, 0.5);
    margin-right: 8px;
    font-size: 15px;
    cursor: pointer;
}

.right-nav > .search_input:hover {
    background-color: hsl(240 3.7% 15.9%);
}


.github-icon {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 1px 6px;
    text-align: center;
    width: 32px;
    cursor: pointer;
}

.github-icon:hover {
    background-color: hsl(240 3.7% 15.9%);
    border-radius: 0.5rem;
}

.github-icon > a {
    color: rgb(250, 250, 250);
    font-size: 14px;
}

.github-icon > a > svg {
    color: rgb(250, 250, 250);
    font-size: 14px;
    height: 16px;
    width: 16px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.toggle-dark {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 1px 6px;
    text-align: center;
    width: 32px;
    cursor: pointer;
}

.toggle-dark:hover {
    background-color: hsl(240 3.7% 15.9%);
    border-radius: 0.5rem;
}

.toggle-dark > svg {
    font-size: 14px;
    height: 16px;
    width: 16px;
}

.hero-section {
    padding: 48px 24px;
    border-bottom-color: rgb(39, 39, 42);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
}

.hero-section > .banner {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.banner:hover {
    text-decoration: underline;
}

.banner > svg {
    height: 16px;
    width: 16px;
    margin-left: 4px;
}

.hero-section > h1 {
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: -1.8px;
    line-height: 39.6px;
}

.hero-section > .description {
    font-size: 18px;
    max-width: 672px;
    line-height: 28px;
    font-weight: 300;
    color: rgb(222, 220, 220);
    margin-bottom: 8px;
}

.get-started-btn {
    border: none;
    padding: 8px 12px;
    background-color: rgb(250, 250, 250);
    color: rgb(9, 9, 11);
    border-radius: 6px;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.get-started-btn:hover {
    background-color: rgba(250, 250, 250, 0.9);
}

.block-btn {
    border: none;
    font-size: 12px;
    padding: 8px 12px;
}

.block-btn:hover {
    background-color: hsl(240 3.7% 15.9%);
    border-radius: 0.5rem;
}